# Python 15-03-24

Python progamming is easy to learn 
Python is reasy to write

In [6]:
a = int(input('Enter a value:'))
b = int(input('Enter b value:'))
c = a+b
print('Addition of two values:',c)

Enter a value: 12233
Enter b value: 22222

Addition of two values: 34455

* input is a function to take dynamic inputs from the user.

* int is a  function to convert text input into interger.

# Q. write a program to perform all arthematic operations on two variables and take dynamic inputs.

a = int(input('Enter a value:'))
b = int(input('Enter b value:'))
c = a+b
d = a-b
e = a/b
f = a*b
g = a%b
print('addition of a and b is:',c)
print('substraction of a and b is:',d)
print('division of a and b is:',e)
print('multiplication of a and b is:',f)
print('reminder of a and b is:',g)

# Q. write a program to print your name,Qualification, age, location by taking Dynamic inputs

In [12]:
Name = input('Enter your Name:')
Qualification = input('Enter your Qualification:')
Age = int(input('Enter your Age:'))
Location = input('Enter your Location')
print('Myname is:',Name)
print('My Qualification is:', Qualification)
print('My Age is:',Age)
print('I am from:',Location)

Enter your Name: challa sai kumar
Enter your Qualification: b.tech
Enter your Age: 23
Enter your Location hyd

Myname is: challa sai kumar
My Qualification is: b.tech
My Age is: 23
I am from: hyd

# VARIABLES

* variable is a data container / variable is a name which holds value.

# variable main rules

--> variable name must be alpha numeric (underscore _ is also used)
--> variable names may be shorter names like a,m,n,.... or more descriptive name like area=56, width=20, ...
--> variable name should start with character only 
--> keywords should not be used as a variable names
--> variable names are case sensitive.

In [ ]:
area = 40  #validvariable
4area = 2= #isnot a variable

#keywords are int,break,float,

In [14]:
AGE = 89

In [15]:
age = 43

Variables are of two types they are 
1. numeric(intergers, float, complex)
2. Txt(Strings)

In [16]:
a = 10 #integer
b = 20.23 #float
c = 10+5j #complex
d = 'Hyderabad' #String

In [17]:
a,b,c

(10, 20.23, (10+5j))

In [18]:
d

'Hyderabad'

In [1]:
type(a)  #type function

NameError: name 'a' is not defined

---> type is a function which returns datatype of the variable

# 16/3/24

# Q. Swap a and b

In [4]:
a = int(input("enter a value:"))
b = int(input("enter b value:"))
a=a+b
b=a-b
a=a-b
print("Swapped value of a is:",a)
print("Swapped value of b is:",b)

enter a value: 30
enter b value: 20

Swapped value of a is: 20
Swapped value of b is: 30

# 19-03-24

 # datatypes

In [3]:
a = 10     #valid integers
b = 4234235363634   #valid integers
c = -222    #valid integers

In [2]:
print('a value is :', a)
print('b value is :', b)
print('c value is :', c)

a value is : 10
b value is : 4234235363634
c value is : -222

---> type(): type() methods returns data type of a variable

In [4]:
print('Data type of a is :', type(a))
print('Data type of b is :', type(b))
print('Data type of c is :', type(c))

Data type of a is : <class 'int'>
Data type of b is : <class 'int'>
Data type of c is : <class 'int'>

# floating point data

In [5]:
a = 5.343  #valid floating point integer
b = 32.324342423   #valid floating point integer
c = -90.23   #valid floating point integer

In [7]:
print('value of a:',a,'Data type of a is :',type(a))   # we can write print and datatypoe function as a single command 
print('value of b:',b,'Data type of b is :',type(b))
print('value of c:',c,'Data type of c is :',type(c))

value of a: 5.343 Data type of a is : <class 'float'>
value of b: 32.324342423 Data type of b is : <class 'float'>
value of c: -90.23 Data type of c is : <class 'float'>

# complex numbers

In [8]:
a = 2+8j # "j" is used to represent imaginory number
b = -8-5j
c = 4j

In [9]:
print('value of a:',a,'Data type of a is :',type(a))   
print('value of b:',b,'Data type of b is :',type(b))
print('value of c:',c,'Data type of c is :',type(c))

value of a: (2+8j) Data type of a is : <class 'complex'>
value of b: (-8-5j) Data type of b is : <class 'complex'>
value of c: 4j Data type of c is : <class 'complex'>

# strings (text datatype)

--> string is collection of characters 
--> In python string are enclosed with " " or ' '.
--> Even a single character also considered as a string.

In [10]:
a = 'hyderabad'

In [11]:
print(a)

hyderabad

In [12]:
type(a)

str

# sequence data type

sequence data type
1. List
2. tuple

List:
        list is collection of hetrogeneous items which are indexed and mutable(changeble)
        list items are enclosed with []

tuple:
        tuple is a collection of hetrogeneous data items which are indexed and immutable(unchangeble)
        tuple are enclosed with ()

In [14]:
S = [23,11.22,11,'sai',(2+5j)]

In [16]:
type(S)

list

In [17]:
K = (23,11.22,11,'sai',(2+5j))

In [18]:
type(K)

tuple

# Type casting / type conversion

---> It is a process of converting datatype of a variable to another datatype
---> Int and Float can be convereted into Float, Int , String
---> whereas String is convereted to integer or float  it is possible if string is equal to numeric value

In [19]:
a = 10
print(type(a))

<class 'int'>

In [20]:
b = float(a)
print(type(b))

<class 'float'>

In [21]:
c = str(a)
print(type(c))

<class 'str'>

In [22]:
a = 32.232
print(type(a))

<class 'float'>

In [24]:
b = int(a)
print(type(a))

<class 'float'>

In [25]:
b

32

In [ ]:
# String to integer
# It is possible if at all  if string is equal to numeric value

In [28]:
a  = '222'
print(a,type(a))

222 <class 'str'>

In [27]:
b = int(a)
print(b,type(b))

222 <class 'int'>

In [29]:
a

'222'

In [30]:
c = float(a)
print(type(c))

<class 'float'>

In [31]:
c

222.0

# Operators in Python

1. Arthmetic Operators
2. Assignment Operators
3. Relationship Operators / comparision Operators 
4. Logical Operators
5. Identity Operators
6. Membership Operators
7. Bitwise Operators

----> operators performs operations on operands\variables.

1. Arthmetic operations are 
---> + -- addition
---> - -- subtraction
---> / -- Division
---> * -- Multiplication
---> % -- Modules
--->// -- Floor division
--->** -- exponentation

In [32]:
a = 10
b = 200

In [33]:
a+b # Addition

210

In [34]:
a-b # Subtraction

-190

In [35]:
a/b # division

0.05

In [36]:
a%b # modules

10

In [37]:
a//b # floor division

0

In [38]:
a**b # exponentation

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [39]:
a*b #multiplication

2000